### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [ ]:
print("Hello World ")

In [ ]:
var = "Holiday"

if var == "Holiday"{
    print("Let's plan something")
    print("Thinking .....")
    }
    
else{ //start
    print("Go to class")
    print("Uhgggggg")
  //end }

In [ ]:
name = "Kumar"
if name=="Kumar":
    print("IF ELSE")
    print("TRUE")
    if 10>5: #True
        print("nested true")
    else: #False
        print("nested else")
else:
    print("FALSE")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes 
    - value 
    - sep
    - end
    - file 
    - flush

In [ ]:
print("Hello World Python .. ")

In [ ]:
print('Hii Hey')

In [ ]:
print("It's a boook") #It's a book

In [ ]:
print('Hey Geeks') #string

print(10) #int 

print(10.2) #float

print(1+2j) #complex

print(True) #booleam

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [ ]:
int age = 26;
float salary = 1282.3793
String name = "Kumar"

#static type
#they are fixed size

In [ ]:
2**63-1

In [ ]:
#var-name = value 

name = "Kumar"
role = "SDE"
age = 45

print(name)
print(role)
print(age)

In [ ]:
print(name,role,age)

In [ ]:
print(name,age,role,sep="-->")

In [ ]:
print(name,age,role,sep=" # ")

In [ ]:
print(name,age,role,sep="\n")

In [ ]:
print(age,role , sep = " %% ")

In [ ]:
# end = "\n"

for i in range(10):
    print(i)

In [ ]:
#end= "\n"
for i in range(10):
    print(i, end = " ")

In [ ]:
#file=sys.stdout --< screen /monitor

s = open("demo.txt",mode="a")

print("Hey Hi Introduction to python" , file = s)

In [ ]:
a = 10
b = 30

print(a)

print()
print()
print()
print()
print()


print(b)

In [ ]:
print(value,sep,end,file,flush)

In [ ]:
print("Hello")
#Very function in Python by default they have to return some value , 
    #if they don't return any values, interpreter will return None value.

In [ ]:
a = print("Hello")
print(a)

In [ ]:
def add(a,b):
    print(a+b)
    
# add(10,20)
res = add(10,20)
print(res)

In [ ]:
def add(a,b):#declaration
    if a>b:
        return "a is larger"
    else:
        return "b is larger"
    
# add(10,20)
res = add(10,20) #calling
print(res)

In [ ]:
print(print(print("Hi")))


# Null None Empty

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''this is a function which 
        return addition'''
    print(a+b)
    
fun(10,20)

In [ ]:
#Take new inputs from keyboard 
# justdo + , - . * ,

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [ ]:
#all KEYWORDS..
import keyword

print(keyword.kwlist)

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
print(first_name, type(first_name) , id(first_name))

In [ ]:
print(type(first_name))

print(type(age))

print(type(skills))

In [ ]:
age = 35
print(age , type(age))

In [ ]:
age = 67.6
print(age , type(age))

In [ ]:
age = "Kumar"
print(age , type(age))

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
age = input("Enter the age : ")

In [ ]:
print(age , type(age))

In [ ]:
salary = input("Enter the salary")

salary = float(salary) #casting str---> float
print(salary , type(salary))

In [ ]:
score = input()

score = int(score) ##str -- int

print(score, type(score))

In [ ]:
age = int(input("Enter the age: "))
print(age, type(age))

In [ ]:
#prebuild 
    int()
    float()
    str()
    list() , tuple() , set() , dict() , bool() , complex()

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

In [ ]:
## Declare 5 realtime variables and take input from keyboard
# Just print(value , type , memoryID.

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed

In [1]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)


countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)


mixedList = ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

[0, 1, 2, 3, 4, 5] <class 'list'>

In [2]:
print(fruits[2] , len(fruits))

Mango 4

In [4]:
print(fruits[4-1])
#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

Avocado

In [5]:
print(fruits[-4])

Banana

In [6]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

['Banana', 'Orange', 'Mango', 'pineapple']

In [7]:
fruits[4] = "cherry"

IndexError: list assignment index out of range

In [8]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[-1]))

['Banana', 10, False, 9.81]
False
9.81
<class 'float'>

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..]
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [51]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [12]:
countries = ['Finland','Estonia', 'Sweden','Norway']

#append() 

countries.append("India")
print(countries)

# countries.append("USA","AUS") #erro
# print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']
['Finland', 'Estonia', 'Sweden', 'Norway', 'India']

In [13]:
#insert(ind,obj)

countries.insert(0,"Indo")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India']

In [14]:
countries.insert(-1,"Pak")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India']

In [15]:
countries.insert(10,"England")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'England']

In [16]:
# extend([obj1,obj2..]

countries.extend(["Swiz","Cuba"])

print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'England', 'Swiz', 'Cuba']

In [18]:
# pop()
res = countries.pop() #pop() will remove and return the popped element
print(res)

Swiz

In [20]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

[]

IndexError: pop from empty list

In [22]:
num = [1,222,30,420]
num.pop(2)

30

In [24]:
# remove()
print(countries)
countries.remove("Norway")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'England']
['Indo', 'Finland', 'Estonia', 'Sweden', 'Pak', 'India', 'England']

In [25]:
countries.remove("Bang")

ValueError: list.remove(x): x not in list

In [26]:
# reverse()
countries.reverse()

print(countries)

['England', 'India', 'Pak', 'Sweden', 'Estonia', 'Finland', 'Indo']

In [36]:
# sort()
countries.sort()
print(countries)

['England', 'Estonia', 'Finland', 'India', 'Indo', 'Pak', 'Sweden']

In [37]:
lst = "K u m a r R a J A m o n i".split()
print(lst)

lst.sort()

print(lst)

##ascii

print(ord("a") , ord("A"))

['K', 'u', 'm', 'a', 'r', 'R', 'a', 'J', 'A', 'm', 'o', 'n', 'i']
['u', 'r', 'o', 'n', 'm', 'm', 'i', 'a', 'a', 'R', 'K', 'J', 'A']
97 65

In [33]:
nums = [1,0,293,2983,262,2982]
nums.sort()

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

[0, 1, 262, 293, 2982, 2983]
[2983, 2982, 293, 262, 1, 0]

In [41]:
print(lst)

print(lst.count("a"))

print(lst.count("z"))

['u', 'r', 'o', 'n', 'm', 'm', 'i', 'a', 'a', 'R', 'K', 'J', 'A']
2
0

In [42]:
print(lst.index("a")) #return the fist index

7

In [43]:
print(lst.index("z"))

ValueError: 'z' is not in list

In [44]:
# clear()
nums = [10,203,40]
print(nums)
nums.clear()
print(nums)

[2983, 2982, 293, 262, 1, 0]
[]

In [45]:
nums = [10,203,40]
print(nums)
del nums
print(nums)

[10, 203, 40]

NameError: name 'nums' is not defined

In [46]:
# copy()

copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

['England', 'Estonia', 'Finland', 'India', 'Indo', 'Pak', 'Sweden']
2047062939328 2047062679744

In [47]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

['SouthAfrica', 'Estonia', 'Finland', 'India', 'Indo', 'Pak', 'Sweden']
['England', 'Estonia', 'Finland', 'India', 'Indo', 'Pak', 'Sweden']

In [49]:
names = ["Meena","Avinash","Srikanth","Prakash"]

students = names #alias copying

print(id(names) , id(students))

students[0] = "Kumar"

print(names , students)

2047062680256 2047062680256
['Kumar', 'Avinash', 'Srikanth', 'Prakash'] ['Kumar', 'Avinash', 'Srikanth', 'Prakash']

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [52]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [53]:
print(planets , type(planets))

('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') <class 'tuple'>

In [54]:
print(planets[0])

Earth

In [55]:
print(planets[-1])

Mercury

In [56]:
print(planets[100])

IndexError: tuple index out of range

In [58]:
# planets[1] = "Pluto" error

### tuple methods
    - count()
    - index()

In [59]:
planets.count("Mars")

1

In [60]:
planets.count("Pluto")

0

In [61]:
planets.index("Earth")

0

In [63]:
planets.index("Pluto")

ValueError: tuple.index(x): x not in tuple

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [67]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

{'Sa', 'Bang', 'Ind', 'Eng', 'Pak', 'Aus'}

In [68]:
print(teams[0])

TypeError: 'set' object is not subscriptable

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [69]:
print(dir(set()))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [70]:
print(teams)

{'Sa', 'Bang', 'Ind', 'Eng', 'Pak', 'Aus'}

In [71]:
teams.add("Zimb")

In [72]:
print(teams)

{'Sa', 'Bang', 'Ind', 'Zimb', 'Eng', 'Pak', 'Aus'}

In [75]:
teams.discard("USA") #no element no  error 
print(teams)

{'Sa', 'Bang', 'Ind', 'Eng', 'Pak', 'Aus'}

In [76]:
teams.remove("Bang")
print(teams)

{'Sa', 'Ind', 'Eng', 'Pak', 'Aus'}

In [77]:
teams.remove("USA") #raise Error if not a element
print(teams)

KeyError: 'USA'

In [78]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

{'amazon'}

In [79]:
#defference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

{'netflix'}

In [81]:
# union()

print(x.union(y))

print(x | y)

{'amazon', 'google', 'netflix', 'apple'}
{'amazon', 'google', 'netflix', 'apple'}

In [82]:
# intersection
print(x.intersection(y))

{'apple', 'google'}

In [86]:
x.pop()

KeyError: 'pop from an empty set'

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()

In [10]:
team = {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python'],
    'Captain':"Virat"
    }

print(team , type(team))

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [11]:
print(team["country"])

India

In [5]:
print(team["captain"])

KeyError: 'captain'

In [13]:
print(team["Players"])

['Virat', 'Rohit', 'Bhu', 'Python']

In [12]:
print(team['Captain'])

Virat

### methods

In [15]:
#get()
print(team.get('Captain'))

Virat

In [16]:
print(team["score"])

KeyError: 'score'

In [21]:
print(team.get("matchscore","Key is not found"))

Key is not found

In [22]:
#keys()

print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [23]:
#values()
print(team.values())

dict_values(['India', 'Virat', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [24]:
#items() --[(K1,V1),(K2,V2)....] list of tuples


print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'Virat'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [25]:
team.update({"year":"2020"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': '2020', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [26]:
team.update({"score":"1000"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': '2020', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'score': '1000'}

In [28]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'score': '1000'}

In [29]:
res = team.pop("year")

print(res)

KeyError: 'year'

In [36]:
print(team.popitem())

KeyError: 'popitem(): dictionary is empty'

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalied key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/builtin-functions.png" width= "700" height="600">

In [37]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

<class 'str'>
<class 'int'>
<class 'dict'>
1303646502192 140721942702160 1303646518208

In [38]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [42]:
a = 10,20,304,40
print(type(a))

<class 'tuple'>

In [43]:
#dir()
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [44]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [45]:
#  sum()

marks = [10,20,30]

print(sum(marks))

60

In [46]:
#max() min()

print(max(marks))

print(min(marks))

30
10

In [48]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar"))


print(len(person))

# print(len(10)) #error.

3
5
3

TypeError: object of type 'int' has no len()

In [50]:
print(ord("K"))

75

In [53]:
print(chr(97))

a

In [57]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

10
202
212

Hello20

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [59]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

num_int 10
num_float: 10.0
9
10
10
num_int 10
num_float 10.0
Asabeneh
['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

In [65]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

10

In [1]:
import os 
os.getcwd()

'D:\\JS\\Python Essentials\\clsNotebooks'

### Operators 
    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/assignment_operators.png" height="600" width="600">

In [66]:
print(type([]))

<class 'list'>

In [67]:
print(type({}))

<class 'dict'>

In [68]:
print(type(()))

<class 'tuple'>

In [69]:
print(type(set()))

<class 'set'>

In [71]:
print(dir(set))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [72]:
x = {"A","B","C"}
y = {"C","D","E"}

print(x.isdisjoint(y))

False

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/arithmetic_operators.png" height="700" width="700">

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

In [ ]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

In [ ]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponentiation)

In [ ]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        
 <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/comparison_operators.png" width="700" height="700">

In [ ]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShiop Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x in y)

In [ ]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/logical_operators.png" >