### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [2]:
print('good morning')


# syntax window : SHIFT+TAB

good morning

In [ ]:
if condition{
    
    //block code
}


if condition:
    #block of code.

In [ ]:
// java
int time = 20;
if (time < 18) {
  System.out.println("Good day.");
} else {
  System.out.println("Good evening.");
}

In [14]:
# python 

time = 16;
if (time < 18):
    print("Good day.");
    print("Hello")
else:
 print("Good evening.");

Good day.
Hello

In [10]:
salary = 1909

if salary>1090893:
    print("good salary")
else:
    print("AVG ")

AVG

In [ ]:
name = "Kumar"
if name=="Kumar":
    print("IF ELSE")
    print("TRUE")
    if 10>5: #True
        print("nested true")
    else: #False
        print("nested else")
else:
    print("FALSE")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes 
    - value 
    - sep
    - end
    - file 
    - flush

In [15]:
print("Hello World Python .. ")

Hello World Python ..

In [16]:
print('Hii Hey')

Hii Hey

In [17]:
print("It's a boook") #It's a book

It's a boook

In [18]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

Hey Geeks
10
10.2
(1+2j)
True
[10, 20, 30, 40]
('IND', 'NZ', 'AUS')
{'blue', 'yellow', 'red'}
{'name': 'Kumar', 'course': 'Python', 'fee': 10.23893}

In [ ]:
int age = 26;
float salary = 1282.3793
String name = "Kumar"

#static type
#they are fixed size

In [19]:
#var-name = value 

name = "Kumar"
role = "SDE"
age = 45

print(name)
print(role)
print(age)

Kumar
SDE
45

In [22]:
print(name,role,age)

Kumar SDE 45

In [23]:
print(name,age,role,sep="-->")

Kumar-->45-->SDE

In [24]:
print(name,age,role,sep=" # ")

Kumar # 45 # SDE

In [25]:
print(name,age,role,sep="\n")

Kumar
45
SDE

In [27]:
print(age,name,sep = " %% ")

45 %% Kumar

In [30]:
# end = "\n"

for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
#end= "\n"
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [34]:
#file=sys.stdout -->  screen /monitor

s = open("dec14.txt",mode="a")

print("Hey Hi Introduction to python",file=s)

In [35]:
print()

In [37]:
a = 10
b = 30

print(a)
print()
print()
print()
print() #newline because end="\n"
print(b)

10




30

In [ ]:
print(value,sep,end,file,flush)

In [ ]:
print("Hello")
#Very function in Python by default they have to return some value , 
    #if they don't return any values, interpreter will return None value.

In [38]:
a = print("Hello")
print(a)

Hello
None

In [39]:
b = print()
print(b)

None

In [ ]:
a = print("Hello")
print(a)

In [ ]:
def add(a,b):
    print(a+b)
    
# add(10,20)
res = add(10,20)
print(res)

In [ ]:
def add(a,b):#declaration
    if a>b:
        return "a is larger"
    else:
        return "b is larger"
    
# add(10,20)
res = add(10,20) #calling
print(res)

In [ ]:
print(print(print("Hi")))


# Null None Empty

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''this is a function which 
        return addition'''
    print(a+b)
    
fun(10,20)

In [ ]:
#Take new inputs from keyboard 
# justdo + , - . * ,

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [ ]:
#all KEYWORDS..
import keyword

print(keyword.kwlist)

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
print(first_name, type(first_name) , id(first_name))

In [ ]:
print(type(first_name))

print(type(age))

print(type(skills))

In [ ]:
age = 35
print(age , type(age))

In [ ]:
age = 67.6
print(age , type(age))

In [ ]:
age = "Kumar"
print(age , type(age))

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
age = input("Enter the age : ")

In [ ]:
print(age , type(age))

In [ ]:
salary = input("Enter the salary")

salary = float(salary) #casting str---> float
print(salary , type(salary))

In [ ]:
score = input()

score = int(score) ##str -- int

print(score, type(score))

In [ ]:
age = int(input("Enter the age: "))
print(age, type(age))

In [ ]:
#prebuild 
    int()
    float()
    str()
    list() , tuple() , set() , dict() , bool() , complex()

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

In [ ]:
## Declare 5 realtime variables and take input from keyboard
# Just print(value , type , memoryID.

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed

In [ ]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)


countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)


mixedList = ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

In [ ]:
print(fruits[2] , len(fruits))

In [ ]:
print(fruits[4-1])
#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

In [ ]:
print(fruits[-4])

In [ ]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

In [ ]:
fruits[4] = "cherry"

In [ ]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[-1]))

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..]
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [ ]:
print(dir([]))

In [ ]:
countries = ['Finland','Estonia', 'Sweden','Norway']

#append() 

countries.append("India")
print(countries)

# countries.append("USA","AUS") #erro
# print(countries)

In [ ]:
#insert(ind,obj)

countries.insert(0,"Indo")
print(countries)

In [ ]:
countries.insert(-1,"Pak")
print(countries)

In [ ]:
countries.insert(10,"England")
print(countries)

In [ ]:
# extend([obj1,obj2..]

countries.extend(["Swiz","Cuba"])

print(countries)

In [ ]:
# pop()
res = countries.pop() #pop() will remove and return the popped element
print(res)

In [ ]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

In [ ]:
num = [1,222,30,420]
num.pop(2)

In [ ]:
# remove()
print(countries)
countries.remove("Norway")
print(countries)

In [ ]:
countries.remove("Bang")

In [ ]:
# reverse()
countries.reverse()

print(countries)

In [ ]:
# sort()
countries.sort()
print(countries)

In [ ]:
lst = "K u m a r R a J A m o n i".split()
print(lst)

lst.sort()

print(lst)

##ascii

print(ord("a") , ord("A"))

In [ ]:
nums = [1,0,293,2983,262,2982]
nums.sort()

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

In [ ]:
print(lst)

print(lst.count("a"))

print(lst.count("z"))

In [ ]:
print(lst.index("a")) #return the fist index

In [ ]:
print(lst.index("z"))

In [ ]:
# clear()
nums = [10,203,40]
print(nums)
nums.clear()
print(nums)

In [ ]:
nums = [10,203,40]
print(nums)
del nums
print(nums)

In [ ]:
# copy()

copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

In [ ]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

In [ ]:
names = ["Meena","Avinash","Srikanth","Prakash"]

students = names #alias copying

print(id(names) , id(students))

students[0] = "Kumar"

print(names , students)

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [ ]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [ ]:
print(planets , type(planets))

In [ ]:
print(planets[0])

In [ ]:
print(planets[-1])

In [ ]:
print(planets[100])

In [ ]:
# planets[1] = "Pluto" error

### tuple methods
    - count()
    - index()

In [ ]:
planets.count("Mars")

In [ ]:
planets.count("Pluto")

In [ ]:
planets.index("Earth")

In [ ]:
planets.index("Pluto")

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [ ]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

In [ ]:
print(teams[0])

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [ ]:
print(dir(set()))

In [ ]:
print(teams)

In [ ]:
teams.add("Zimb")

In [ ]:
print(teams)

In [ ]:
teams.discard("USA") #no element no  error 
print(teams)

In [ ]:
teams.remove("Bang")
print(teams)

In [ ]:
teams.remove("USA") #raise Error if not a element
print(teams)

In [ ]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

In [ ]:
#defference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

In [ ]:
# union()

print(x.union(y))

print(x | y)

In [ ]:
# intersection
print(x.intersection(y))

In [ ]:
x.pop()

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()

In [ ]:
team = {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python'],
    'Captain':"Virat"
    }

print(team , type(team))

In [ ]:
print(team["country"])

In [ ]:
print(team["captain"])

In [ ]:
print(team["Players"])

In [ ]:
print(team['Captain'])

### methods

In [ ]:
#get()
print(team.get('Captain'))

In [ ]:
print(team["score"])

In [ ]:
print(team.get("matchscore","Key is not found"))

In [ ]:
#keys()

print(team.keys())

In [ ]:
#values()
print(team.values())

In [ ]:
#items() --[(K1,V1),(K2,V2)....] list of tuples


print(team.items())

In [ ]:
team.update({"year":"2020"})

print(team)

In [ ]:
team.update({"score":"1000"})

print(team)

In [ ]:
print(team)

In [ ]:
res = team.pop("year")

print(res)

In [ ]:
print(team.popitem())

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalied key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/builtin-functions.png" width= "700" height="600">

In [ ]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

In [ ]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

In [ ]:
a = 10,20,304,40
print(type(a))

In [ ]:
#dir()
print(dir([]))

In [ ]:
print(dir(""))

In [ ]:
#  sum()

marks = [10,20,30]

print(sum(marks))

In [ ]:
#max() min()

print(max(marks))

print(min(marks))

In [ ]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar"))


print(len(person))

# print(len(10)) #error.

In [ ]:
print(ord("K"))

In [ ]:
print(chr(97))

In [ ]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.

In [ ]:
# range(start,stop,step)

In [ ]:
print(range(1,5,1))

In [ ]:
a = tuple(range(0,5,1))

print(a)

In [ ]:
a = list(range(1,10,2))

print(a)

In [ ]:
a = list(range(-1,-5,-1))

print(a)

In [ ]:


a = list(range(5))


print(a)

In [ ]:
a = list(range(1,1))

print(a)

In [ ]:
a = list(range(0,20,2))

print(a)

In [ ]:
a = list(range(1,20,2))

print(a)

In [ ]:
print(help(""))

In [ ]:
data = 10192020002800928002002829080

print(type(data))

data = str(data) #int - str

print(type(data))

print(data.count("0"))

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

In [ ]:
stra = "10"

print(int(stra))

In [ ]:
strb = "289892.282shks"

print(float(strb))

In [ ]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

## Strings 
- group of individual or collections of characters
- strings are immutable in python
- Strings have indexing
      +ve : 0 - N-1
      -ve : -N - -1
- String supports slicing also.
- In Python Strings can be declared in 3 ways:
        - single quotes  'k'
        - double quotes   "dyamic programmic"
        - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

In [ ]:
print(type("Hello"))
"10"
"10.22"
"True"
print(type("[10,203,30]"))

# anything inside quotes is a string

#### Creating a String

In [6]:
letter = 'P'               # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying  Python Course"
print(sentence)

P
1
Hello, World!
13
I hope you are enjoying  Python Course

In [7]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course.

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [8]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

Helsinki Money Heist
8
11
False
20

In [9]:
#Try this . 


first_name + " age "+40

TypeError: can only concatenate str (not "int") to str

In [10]:
print("Hi "*10)

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [11]:
print("Hello \n Welcome to Srikanths \t Home")

Hello
 Welcome to Srikanths 	 Home

In [12]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1 \t2 \t8')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t6\t18')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1 	2 	8
Day 2	3	5
Day 3	3	5
Day 4	6	18
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [17]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 7
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.3f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string)


python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

I am Kumar R. I teach Python
The area of circle with a radius 7 is 153.860.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

#### New Style String Formatting (str.format)

In [26]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000
formated_string = 'I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee)
print(formated_string)


# print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+fee)

a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Kumar R. I teach Python and fee is 12000
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

#### f-string

In [29]:
print("Iam %s %s. I Teach %s and fee is %d"%(first_name, last_name, language,fee))

Iam Kumar R. I Teach Python and fee is 12000

In [28]:
print('I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee))

I am Kumar R. I teach Python and fee is 12000

In [27]:
print(f'I am {first_name} {last_name} I Teach {language} and fee is {fee}')

I am Kumar R I Teach Python and fee is 12000

In [30]:
#### Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/string_index.png" width="400" height="400">

In [31]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P

second_letter = language[1]
print(second_letter) # y

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter) # n

P
y
n

In [32]:
language = 'Python'

last_letter = language[-1]
print(last_letter) # n

second_last = language[-2]
print(second_last) # o

n
o

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    note: STOP is exculsive not included

In [39]:
name = "kumarRajamoni"

print(len(name))

print(name[0])

print(name[-1])

print(name[0:4:1])

print(name[:6])

print(name[2:])

print(name[-1:-5:-2])

print(name[-1:-len(name)-1:-1])
print(name[::-1]) #start : -1 . stop: (-N-1)


print(name[::])

print(name)

13
k
i
kuma
kumarR
marRajamoni
io
inomajaRramuk
inomajaRramuk
kumarRajamoni
kumarRajamoni

In [38]:
marks = [10,203,30]

marks = marks[::-1]

print(marks)

[30, 203, 10]

In [35]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt

last_three = language[3:6]
print(last_three) # hon
# Another way

last_three = language[-3:]
print(last_three)   # hon

last_three = language[3:]
print(last_three)   # hon

Pyt
hon
hon
hon

In [ ]:
# Reversing a String
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

In [41]:
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [43]:
print(help(""))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [44]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [45]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2`

3
1
2

In [46]:
print(challenge.count("z"))

0

In [47]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [48]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [49]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 16
print(challenge.find('th')) # 17

5
0

In [50]:
print(challenge.find("K"))

-1

In [51]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 5
print(challenge.rfind('th')) # 1

16
17

In [57]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.find("y"))
print(challenge.index('y'))  # 7
print(challenge.index(sub_string)) # error

5
5
7

In [58]:
print(challenge.index("k"))

ValueError: substring not found

In [60]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex("py", 9)) # error

7
15

In [61]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [62]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [63]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [68]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "        Kumar            "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth')) # 'irty days of py'

25
5
irty days of py

In [71]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace('Python', 'Java')) # 'thirty days of coding'

I Like to code In Java

In [77]:
# upper 

challenge = 'I Like to code In Python' 

print(challenge.upper())


challenge = "i LIKE to CODE ruby"

print(challenge.lower())


print(challenge.title())

print(challenge.swapcase())

I LIKE TO CODE IN PYTHON
i like to code ruby
I Like To Code Ruby
I like TO code RUBY

In [78]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [79]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123akkak'
print(num.isalpha())      # False

False
True
False

In [80]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # False

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

False
True
True
False

In [81]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

False
True
True

In [82]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # ½
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

True
True
False

In [84]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
False

In [85]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

True
False
False
True

In [87]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) 

challenge = 'current,version,of,python,3.11'
print(challenge.split(',')) #str --list

['python', 'is', 'interprted', 'functional', 'scripting', 'language']
['current', 'version', 'of', 'python', '3.11']

In [88]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = ' '.join(web_tech) #list -- str
print(result)

HTML CSS JavaScript React

In [93]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = '-->'.join(web_tech) #list -- str
print(result)

HTML-->CSS-->JavaScript-->React

### Operators 
    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/assignment_operators.png" height="600" width="600">

In [94]:
price = 12

# increase 2rs 
price = price + 2

# decrease 5 
price = price - 5 


print(price)

9

In [95]:
price = 12

# increase 2rs 
price += 2 #price = price+2

# decrease 5 
price -= 5 


print(price)

9

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/arithmetic_operators.png" height="700" width="700">

In [96]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

In [97]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

Floating Point Number, PI 3.14
Floating Point Number, gravity 9.81

In [98]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

Complex number:  (1+1j)
Multiplying complex numbers:  (2+0j)

In [100]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [2]:
print(0/10)  #0/anything --> 0

print(20/0) #anything/0 ---> undefined

0.0

ZeroDivisionError: division by zero

In [3]:
print(10%3)

print(25%2)

print(4%4)

print(50%100)

print(10%0)

1
1
0
50

ZeroDivisionError: integer division or modulo by zero

In [101]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

print(density)

Area of a circle: 314.0
Area of rectangle: 200
735.75 N
1000.0

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        
 <img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/comparison_operators.png" width="700" height="700">

In [102]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True
True
False
True
True
False
True
False
True
True
False
True
True
False
True == True:  True
True == False:  False
False == False: True

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShiop Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x in y)

In [103]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-103-c9a4367e925a>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
<ipython-input-103-c9a4367e925a>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
<ipython-input-103-c9a4367e925a>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://github.com/anil-k-rajamoni18/PythonCourse/raw/main/images/logical_operators.png" >

In [5]:
print(type("Kumar"))


print(type(["Kumar","Rajamoni"]))

<class 'str'>
<class 'list'>

In [6]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

<class 'str'> <class 'list'>
False
True
False

In [8]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

Enter the username: kumar
Enter the passsword: kumar123
Login Success

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [10]:
    
print(bin(25))

0b11001

In [9]:
#representing
# 8 bit 

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 | 2  |1    min =0 max = 255

SyntaxError: invalid syntax (<ipython-input-9-dbdf60b86057>, line 8)

In [11]:
# bin() -- gives binary notation value of decimal no.
print(bin(69))
print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

0b1000101
0b10100
0b100101
0b111001
0b11011110

In [12]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
## AND 000

## OR 111

##EXOR 111

## NOT 100

print(a & b)

print(a | b)

print(a ^ b)

#sign bit 

#0 -ve
#1 +ve

0
7
7

In [13]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

0b11
-4

In [15]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>2)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

2

In [17]:
print(10//(2**2))

2

In [19]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100 = 20

# after shifting 1 bit to the left

#00010100 =>20

40

In [18]:
print(10*(2**2))

40

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, we’ll see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [21]:
print(10+20*30/10)

70.0

In [22]:
a = (10+20) * 30/10

print(a)

90.0

In [24]:
a =  2+3*8/2-10**4%2//10

print(a)

14.0

In [25]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Hello! Welcome.

In [26]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Good Bye!!

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [27]:
print(200 / 10 * 10)

200.0

In [28]:
print(5 - 2 + 3)

6

In [29]:
#right to left
print(2 ** 3 ** 2)

512